.person a {
    color: black;
}

.self {
    background-color: green;
    font-size: 2em;
}

.descendant {
    background-color: burlywood;
}

.grandparent {
    background-color: firebrick;
    font-size: .75em;
}

.father {
    background-color: red;
    font-size: 1em;
}

.mother {
    background-color: blue;
    font-size: 1em;
}

.sibling {
    background-color: lime;
    font-size: 1.5em;
}

.spouse {
    background-color: pink;
    font-size: 1.7em;
}

.cuañado {
    background-color: palevioletred;
    font-size: .7em;
}

.childinlaw {
    background-color: aquamarine;
    font-size: .7em;
}

.tio {
    background-color: peru;
    font-size: .7em;
}

.child {
    background-color: blueviolet;
    font-size: 1em;
}

.grandchild {
    background-color: firebrick;
    font-size: .75em;
}