.split-screen-wrapper {
    height: 100vh;
    /* Full height of the viewport for the wrapper */
    overflow: hidden;
    /* Prevent scrolling on the wrapper */
}

.split-screen-wrapper .splitscreen-container {
    width: 100%;
    height: 100%;
    /* Full height of the wrapper */
    display: flex;
    flex-direction: column;
    /* Default to column layout */
}

.split-screen-wrapper .splitscreen-container.row-layout {
    flex-direction: row;
    /* Horizontal layout */
}


.split-screen-wrapper #splitscreen-1,
.split-screen-wrapper #splitscreen-2 {
    flex: 1;
    height: 100%;
    overflow: auto;
    /* Allow scrolling within these divs */
    padding: 2px;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}

.split-screen-wrapper #splitscreen-1.row-layout,
.split-screen-wrapper #splitscreen-2.row-layout {
    height: 100%;
}

.split-screen-wrapper #splitscreen-1.column-layout {
    border-bottom: 2px solid gray;
}

.split-screen-wrapper #splitscreen-2.column-layout {
    border-top: 2px solid gray;
}

.split-screen-wrapper #splitscreen-1.row-layout {
    border-right: 2px solid gray;
}

.split-screen-wrapper #splitscreen-2.row-layout {
    border-left: 2px solid gray;
}

.split-screen-wrapper #splitscreen-1.column-layout,
.split-screen-wrapper #splitscreen-2.column-layout {
    width: 100%;
    height: 50%;
}

.split-screen-wrapper #splitscreen-1 {
    background: gray;
    ;
}

.split-screen-wrapper #splitscreen-2 {
    background: lightgray;
    ;
}