.timelineEventBox {
    display: flex;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 45%;
}

.timelineEventBox a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.timelineEventBox a:hover {
    text-decoration: underline;
}

.timelineEventBox p {
    margin: 0;
}

.timelineEventBox .date {
    color: #666;
}

.timelineEventBox .reference {
    color: #888;
}

.timelineEventBox .dateReference {
    color: #999;
}

.timelineEventBox img {
    width: 100px;
    /* Adjust the width of the image */
    height: auto;
    margin-left: auto;
    /* Push the image to the right */
    order: 1;
    /* Order the image to appear at the end */
    margin-left: 20px;
    /* Add some spacing between the image and other content */
}




.timelineEventBox:nth-child(odd) {
    margin-right: 50%;
    position: relative;
}

/* Positioning for even timeline events */
.timelineEventBox:nth-child(even) {
    margin-left: 50%;
    position: relative;
}

/* Line connecting odd timeline events to the vertical line */
.timelineEventBox:nth-child(odd)::before {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 5px);
    /* Adjust as needed */
    width: 10px;
    /* Adjust as needed */
    height: 2px;
    /* Adjust as needed */
    background-color: black;
    /* Adjust as needed */
    transform: translateY(50%);
}

/* Line connecting even timeline events to the vertical line */
.timelineEventBox:nth-child(even)::before {
    content: '';
    position: absolute;
    top: 50%;
    right: calc(100% + 5px);
    /* Adjust as needed */
    width: 10px;
    /* Adjust as needed */
    height: 2px;
    /* Adjust as needed */
    background-color: black;
    /* Adjust as needed */
    transform: translateY(50%);
}