.dark-light-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle-background {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    transition: background-color 0.3s ease;
}

.toggle-switch {
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
    z-index: 1;
    /* Ensure switch is above icons */
}

.toggle-checkbox:checked+.toggle-label .toggle-background {
    background-color: #333;
    /* Dark mode background color */
}

.toggle-checkbox:checked+.toggle-label .toggle-switch {
    transform: translateX(30px);
    /* Position for dark mode */
}

.toggle-label .toggle-background.light {
    background-color: #ccc;
    /* Light mode background color */
}

.toggle-label .toggle-background.dark {
    background-color: #333;
    /* Dark mode background color */
}

.toggle-label .toggle-switch.light {
    background-color: #fff;
    /* Light mode knob color */
}

.toggle-label .toggle-switch.dark {
    background-color: #fff;
    /* Dark mode knob color */
}

.toggle-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    /* Adjust icon size */
}

.sun-icon {
    left: 5px;
    /* Position sun icon */
    color: white;
    /* Yellow color for sun */
}

.moon-icon {
    right: 5px;
    /* Position moon icon */
    color: white;
    /* Color for moon */
    z-index: 0;
    /* Ensure icon is below switch */
}

.toggle-checkbox:checked+.toggle-label .moon-icon {
    color: #fff;
    /* Ensure moon icon is visible in dark mode */
}

.toggle-checkbox:not(:checked)+.toggle-label .moon-icon {
    color: #fff;
    /* Ensure moon icon is visible in light mode */
}